@import '../../styles/variables.scss';

.get_started {
    padding: 192px 0;
    &-inner {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }
    &-left {
        max-width: 480px;
        width: 100%;
        p {
            font-size: 18px;
            line-height: 32px;
            margin: 40px 0 56px;
        }
    }
    &-right {
        max-width: 536px;
        width: 100%;
        h3 {
            font-weight: 600;
            font-size: 24px;
            line-height: 34px;
            margin-right: 20px;
        }
        .get_started-item {
            border-bottom: 1px solid rgba(30, 26, 32,0.2);
            padding-bottom: 32px;
            &_content {
                font-size: 16px;
                padding:0;
                margin:auto;
                visibility: hidden;
                height:0;
                overflow:hidden;
                opacity:0;
                transition:all 0.4s linear;
            }
            & + .get_started-item {
                padding-top: 32px;
            }
            &_top {
                display: flex;
                align-items: center;
                justify-content: space-between;
                cursor: pointer;
                &-btn {
                    min-width: 40px;
                    min-height: 40px;
                    border-radius: 50%;
                    background: #F2726C;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: #fff;
                    position: relative;
                    &::after,
                    &::before {
                        content: '';
                        width: 14px;
                        height: 2px;
                        background-color: #fff;
                        border-radius: 30px;
                        position: absolute;
                    }
                    &::after {
                        width: 2px;
                        height: 14px;
                        transition: 0.4s;
                    }
                }
            }

            &.opened {
                .get_started-item_content {
                    padding-top:10px;
                    visibility: visible;
                    height:auto;
                    overflow:none;
                    opacity:1;
                }
                .get_started-item_top-btn {
                    &::after {
                        width: 2px;
                        height: 14px;
                        opacity: 0;
                    }
                }   
            }
        }
    }
}

@media (max-width: 1000px) {
    .get_started {
        padding: 100px 0;
    }
    .get_started-inner {
        flex-direction: column;
    }
    .get_started-right {
        max-width: 100%;
        margin-top: 48px;
    }
}

@media (max-width: 500px) {
    .get_started {
        h2 {
            font-size: 28px;
            line-height: 150%;
        }
    }
    .get_started-left p {
        margin: 20px 0 32px;   
    }
    .get_started-right {
        margin-top: 48px;
        h3 {
            font-size: 18px;
            line-height: 28px;
        }
    }
    .get_started-item_content {
        font-size: 15px;
        line-height: 175%;
    }
}