@import '../../styles/global.scss';

.first_screen {
    background: linear-gradient(0deg, #F7F3F4, #F7F3F4), linear-gradient(0deg, #FEBD2F, #FEBD2F), radial-gradient(178.57% 327.71% at 110.1% 3.35%, #FF605B 0%, #FFEE30 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, #27D07D;
    padding: 112px 0 96px;
    &-inner {
        padding-top: 126px;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    } 
    &-left {
        p {
            margin: 60px 0 48px;  
        }
        &_block {
            max-width: 448px;
            width: 100%;
        }
    }
    .block_input {
        background: #FFFFFF;
        box-shadow: 0px 30px 40px rgba(240, 101, 126, 0.05);
        border-radius: 40px;
        padding: 8px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        svg {
            width: 18px;
            margin-left: 6px;
        }
        input {
            width: 100%;
            border: none;
            color: #807C7C;
            font-size: 14px;
            line-height: 24px;
            margin: 0 13px;
            outline: none;
            &::placeholder {
                color: #807C7C;
                font-size: 14px;
                line-height: 24px;
            }
        }
        button {
            cursor: pointer;
        }
    }

    &-right {
        position: relative;
    }
}

.parrot {
    & > img {
        max-width: 340px;
        width: 100%;
    }
    &_leaves {
        position: absolute;
        right: 0;
        top: 0;
        width: 100%;
        height: 100%;
        img {
            position: absolute;
        }
        &-1 {
            top: -70px;
            right: 50px;
        }
        &-2 {
            top: -20px;
            right: -110px;
        }
        &-3 {
            top: 140px;
            right: -60px;
        }
        &-4 {
            bottom: 180px;
            right: 0px;
        }
        &-5 {
            bottom: 128px;
            right: 58px;
        }
    }
    &_card {
        width: 272px;
        height: 320px;
        position: absolute;
        border-radius: 50px;
        bottom: -70px;
        left: -65px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 32px;
        &-members {
            p {
                font-weight: 700;
                font-size: 20px;
                color: #fff;
                &:last-child {
                    font-size: 56px;
                    line-height: 70px;
                }
            }
        }
    }
}


.first_screen-left {
    path {
        &:first-child {
            animation: strokeOffset 2s linear forwards;
        }
    }
}

@keyframes strokeOffset { to { stroke-dashoffset: 0; } }






@-webkit-keyframes animate-svg-fill-1 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(34, 36, 51);
    }
}

@keyframes animate-svg-fill-1 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(34, 36, 51);
    }
}

.svg-elem-1 {
    -webkit-animation: animate-svg-fill-1 0.4s cubic-bezier(0.47, 0, 0.745, 0.715) 0.4s both;
    animation: animate-svg-fill-1 0.4s cubic-bezier(0.47, 0, 0.745, 0.715) 0.4s both;
}

@-webkit-keyframes animate-svg-fill-2 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(34, 36, 51);
    }
}

@keyframes animate-svg-fill-2 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(34, 36, 51);
    }
}

.svg-elem-2 {
    -webkit-animation: animate-svg-fill-2 0.4s cubic-bezier(0.47, 0, 0.745, 0.715) 0.5s both;
    animation: animate-svg-fill-2 0.4s cubic-bezier(0.47, 0, 0.745, 0.715) 0.5s both;
}

@-webkit-keyframes animate-svg-fill-3 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(34, 36, 51);
    }
}

@keyframes animate-svg-fill-3 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(34, 36, 51);
    }
}

.svg-elem-3 {
    -webkit-animation: animate-svg-fill-3 0.4s cubic-bezier(0.47, 0, 0.745, 0.715) 0.6000000000000001s both;
    animation: animate-svg-fill-3 0.4s cubic-bezier(0.47, 0, 0.745, 0.715) 0.6000000000000001s both;
}

@-webkit-keyframes animate-svg-fill-4 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(34, 36, 51);
    }
}

@keyframes animate-svg-fill-4 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(34, 36, 51);
    }
}

.svg-elem-4 {
    -webkit-animation: animate-svg-fill-4 0.4s cubic-bezier(0.47, 0, 0.745, 0.715) 0.7000000000000001s both;
    animation: animate-svg-fill-4 0.4s cubic-bezier(0.47, 0, 0.745, 0.715) 0.7000000000000001s both;
}

@-webkit-keyframes animate-svg-fill-5 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(34, 36, 51);
    }
}

@keyframes animate-svg-fill-5 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(34, 36, 51);
    }
}

.svg-elem-5 {
    -webkit-animation: animate-svg-fill-5 0.4s cubic-bezier(0.47, 0, 0.745, 0.715) 0.8s both;
    animation: animate-svg-fill-5 0.4s cubic-bezier(0.47, 0, 0.745, 0.715) 0.8s both;
}

@-webkit-keyframes animate-svg-fill-6 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(34, 36, 51);
    }
}

@keyframes animate-svg-fill-6 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(34, 36, 51);
    }
}

.svg-elem-6 {
    -webkit-animation: animate-svg-fill-6 0.4s cubic-bezier(0.47, 0, 0.745, 0.715) 0.9s both;
    animation: animate-svg-fill-6 0.4s cubic-bezier(0.47, 0, 0.745, 0.715) 0.9s both;
}

@-webkit-keyframes animate-svg-fill-7 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(34, 36, 51);
    }
}

@keyframes animate-svg-fill-7 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(34, 36, 51);
    }
}

.svg-elem-7 {
    -webkit-animation: animate-svg-fill-7 0.4s cubic-bezier(0.47, 0, 0.745, 0.715) 1s both;
    animation: animate-svg-fill-7 0.4s cubic-bezier(0.47, 0, 0.745, 0.715) 1s both;
}

@-webkit-keyframes animate-svg-fill-8 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(34, 36, 51);
    }
}

@keyframes animate-svg-fill-8 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(34, 36, 51);
    }
}

.svg-elem-8 {
    -webkit-animation: animate-svg-fill-8 0.4s cubic-bezier(0.47, 0, 0.745, 0.715) 1.1s both;
    animation: animate-svg-fill-8 0.4s cubic-bezier(0.47, 0, 0.745, 0.715) 1.1s both;
}

@-webkit-keyframes animate-svg-fill-9 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(34, 36, 51);
    }
}

@keyframes animate-svg-fill-9 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(34, 36, 51);
    }
}

.svg-elem-9 {
    -webkit-animation: animate-svg-fill-9 0.4s cubic-bezier(0.47, 0, 0.745, 0.715) 1.2000000000000002s both;
    animation: animate-svg-fill-9 0.4s cubic-bezier(0.47, 0, 0.745, 0.715) 1.2000000000000002s both;
}

@-webkit-keyframes animate-svg-fill-10 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(34, 36, 51);
    }
}

@keyframes animate-svg-fill-10 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(34, 36, 51);
    }
}

.svg-elem-10 {
    -webkit-animation: animate-svg-fill-10 0.4s cubic-bezier(0.47, 0, 0.745, 0.715) 1.3s both;
    animation: animate-svg-fill-10 0.4s cubic-bezier(0.47, 0, 0.745, 0.715) 1.3s both;
}

@-webkit-keyframes animate-svg-fill-11 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(34, 36, 51);
    }
}

@keyframes animate-svg-fill-11 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(34, 36, 51);
    }
}

.svg-elem-11 {
    -webkit-animation: animate-svg-fill-11 0.4s cubic-bezier(0.47, 0, 0.745, 0.715) 1.4s both;
    animation: animate-svg-fill-11 0.4s cubic-bezier(0.47, 0, 0.745, 0.715) 1.4s both;
}

@-webkit-keyframes animate-svg-fill-12 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(34, 36, 51);
    }
}

@keyframes animate-svg-fill-12 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(34, 36, 51);
    }
}

.svg-elem-12 {
    -webkit-animation: animate-svg-fill-12 0.4s cubic-bezier(0.47, 0, 0.745, 0.715) 1.5s both;
    animation: animate-svg-fill-12 0.4s cubic-bezier(0.47, 0, 0.745, 0.715) 1.5s both;
}

@-webkit-keyframes animate-svg-fill-13 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(34, 36, 51);
    }
}

@keyframes animate-svg-fill-13 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(34, 36, 51);
    }
}

.svg-elem-13 {
    -webkit-animation: animate-svg-fill-13 0.4s cubic-bezier(0.47, 0, 0.745, 0.715) 1.6s both;
    animation: animate-svg-fill-13 0.4s cubic-bezier(0.47, 0, 0.745, 0.715) 1.6s both;
}

@-webkit-keyframes animate-svg-fill-14 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(34, 36, 51);
    }
}

@keyframes animate-svg-fill-14 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(34, 36, 51);
    }
}

.svg-elem-14 {
    -webkit-animation: animate-svg-fill-14 0.4s cubic-bezier(0.47, 0, 0.745, 0.715) 1.7000000000000002s both;
    animation: animate-svg-fill-14 0.4s cubic-bezier(0.47, 0, 0.745, 0.715) 1.7000000000000002s both;
}

@-webkit-keyframes animate-svg-fill-15 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(34, 36, 51);
    }
}

@keyframes animate-svg-fill-15 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(34, 36, 51);
    }
}

.svg-elem-15 {
    -webkit-animation: animate-svg-fill-15 0.4s cubic-bezier(0.47, 0, 0.745, 0.715) 1.8000000000000003s both;
    animation: animate-svg-fill-15 0.4s cubic-bezier(0.47, 0, 0.745, 0.715) 1.8000000000000003s both;
}