@import '../../styles/variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
  &.lock {
    overflow: hidden;
  }
}

body {
  overflow: hidden;
  font-size: 16px;
  line-height: 24px;
  color: #1E1A20;
  font-family: 'Poppins', sans-serif;
  background-color: #E5E5E5;
}

a {
  text-decoration: none;
}

ul, li, ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

input, textarea {
  font-family: inherit;
}

.danger_text {
  color: red;
  padding: 10px 0 10px 20px;
}

.main_title {
  font-weight: 700;
  font-size: 40px;
  line-height: 56px;
  color: #222433;
  text-transform: capitalize;
}

.main_button {
  display: inline-block;
  cursor: pointer;
  background: $colorPink;
  border-radius: 30px;
  text-transform: uppercase;
  color: #fff;
  font-weight: 700;
  font-size: 13px;
  padding: 15px 32px;
  border: none;
  font-family: inherit;
  transition: 0.4s;
  &:hover {
    background-color: #ce625d;
  }
}

.container_fluid,
.container {
  max-width: 1156px;
  width: 100%;
  padding: 0 18px;
  margin: 0 auto;
}

.container_fluid {
  max-width: 1280px;
}

@media (max-width: 500px) {
  body {
    background-color: #fff;
  }
}