@import '../../styles/variables.scss';

header {
    position: fixed;
    width: 100%;
    padding-top: 32px;
    z-index: 100;
    background: linear-gradient(0deg, #F7F3F4, #F7F3F4), linear-gradient(0deg, #FEBD2F, #FEBD2F), radial-gradient(178.57% 327.71% at 110.1% 3.35%, #FF605B 0%, #FFEE30 100%), #27D07D;
}

.header_inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 4px solid #222433;
    padding-bottom: 32px;

    nav ul {
        display: flex;
        align-items: center;
        li {
            &.active {
                font-weight: 700;
            }
            & + li {
                margin-left: 102px;
            }
            a {
                color: #000;
                line-height: 32px;
                transition: 0.4s;
            }
        }
    }
}

.header_button {
    width: 145px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 30px 40px rgba(240, 101, 126, 0.05);
    border-radius: 40px;
    background-color: #fff;
    color: #000000;
    font-weight: 700;
    transition: 0.4s;
    &:hover {
        background-color: $colorPink;
        color: #fff;
    }
}

.logo {
    display: flex;
    align-items: center;
    &_svg {
       position: relative; 
       height: 32px;
       width: 32px;
       top: -5px;
       transition: 0.5s;
       svg {
        position: absolute;
        transition: 0.5s;
       }
       &-2 {
        transform: rotate(29deg);
        bottom: -3px;
        left: 8px;
       }
       &-3 {
        transform: rotate(73deg);
        bottom: -12px;
        left: 15px;
       }
    }
    &_svg-name {
        padding-left: 20px;
        transition: 1s;
    }
    &:hover {
        .logo_svg svg  {
            width: 10px;
        }
        .logo_svg-1 {
            top: 0;
            left: 0;
        }
        .logo_svg {
            transform: rotate(250deg);
        }
        .logo_svg-2 {
            transform: rotate(111deg);
            bottom: -20px;
            left: 15px;
        }
        .logo_svg-3 {
            transform: rotate(236deg);
            bottom: -25px;
            left: -9px;
        }
        .logo_svg-name {
            padding-left: 40px;
        }
    }
}


@media (max-width: 1000px) {
    .header_inner nav ul li + li {
        margin-left: 40px;
    }
}

.burger,
.header_inner nav .header_button {
    display: none;
}

@media (max-width: 768px) {
    header .container_fluid .header_button-wrapp {
        display: none;
    }
    .header_inner {
        nav {
            position: fixed;
            width: 100%;
            height: 90vh;
            background-color: #F7F3F4;
            left: 0;
            padding-top: 76px;
            z-index: 100;
            transition: 0.7s;
            top: -100%;
            &.active {
                top: 100px;
            }
            .header_button {
                display: flex;
                position: absolute;
                bottom: 72px;
                left: 50%;
                transform: translateX(-50%);
            }
            ul {
                flex-direction: column;
                align-items: center;
                justify-content: center;
                li {
                    transform: translate(0,0);
                    opacity: 1 !important;
                    a {
                        font-size: 28px;
                        line-height: 150%;
                    }
                    & + li {
                        margin-left: 0;
                        margin-top: 56px;
                    }
                }
            }
        }
    }
    .burger {
        display: block;
        width: 22px;
        height: 17px;
        cursor: pointer;
        position: relative;
        span {
            position: absolute;
            width: 100%;
            height: 3px;
            background-color: #000;
            border-radius: 5px;
            top: 0;
            left: 0;
            transition: 0.4s;
            &:nth-child(2) {
                width: 17px;
                top: 7px;
                right: 0;
                left: auto;
            }
            &:last-child {
                bottom: 0;
                top: auto;
            }
        }
        &.active {
            span {
                &:nth-child(2) {
                    opacity: 0;
                }
                &:last-child {
                    top: 7px;
                    transform: rotate(45deg);
                }
                &:first-child {
                    top: 7px;
                    transform: rotate(-45deg);
                }
            }
        }   
    }
}

@media (max-width: 500px) {
    .header_inner nav .header_button {
        width: 90%;
    }
}