@import '../../styles/variables.scss';

header {
    position: fixed;
    width: 100%;
    padding-top: 32px;
    z-index: 100;
    background: linear-gradient(0deg, #F7F3F4, #F7F3F4), linear-gradient(0deg, #FEBD2F, #FEBD2F), radial-gradient(178.57% 327.71% at 110.1% 3.35%, #FF605B 0%, #FFEE30 100%), #27D07D;
}

.header_inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 4px solid #222433;
    padding-bottom: 32px;

    nav ul {
        display: flex;
        align-items: center;
        li {
            &.active {
                font-weight: 700;
            }
            & + li {
                margin-left: 102px;
            }
            a {
                color: #000;
                line-height: 32px;
                transition: 0.4s;
            }
        }
    }
}

.header_button {
    width: 145px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 30px 40px rgba(240, 101, 126, 0.05);
    border-radius: 40px;
    background-color: #fff;
    color: #000000;
    font-weight: 700;
    transition: 0.4s;
    &:hover {
        background-color: $colorPink;
        color: #fff;
    }
}

.logo {
    display: flex;
    align-items: center;
    &_svg {
       position: relative; 
       height: 32px;
       width: 32px;
       top: -5px;
       transition: 0.5s;
       svg {
        position: absolute;
        transition: 0.5s;
       }
       &-2 {
        transform: rotate(29deg);
        bottom: -3px;
        left: 8px;
       }
       &-3 {
        transform: rotate(73deg);
        bottom: -12px;
        left: 15px;
       }
    }
    &_svg-name {
        padding-left: 20px;
        transition: 1s;
    }
    &:hover {
        .logo_svg svg  {
            width: 10px;
        }
        .logo_svg-1 {
            top: 0;
            left: 0;
        }
        .logo_svg {
            transform: rotate(250deg);
        }
        .logo_svg-2 {
            transform: rotate(111deg);
            bottom: -20px;
            left: 15px;
        }
        .logo_svg-3 {
            transform: rotate(236deg);
            bottom: -25px;
            left: -9px;
        }
        .logo_svg-name {
            padding-left: 40px;
        }
    }
}


@media (max-width: 1000px) {
    .header_inner nav ul li + li {
        margin-left: 40px;
    }
}