.team {
    padding: 192px 0;
    &_top {
        text-align: center;
        max-width: 352px;
        width: 100%;
        margin: 0 auto 13px auto;
    }
    &_content {
        display: flex;
        justify-content: space-between;
    }
    &_item {
        &-2 {
            margin-top: 130px;
            position: relative;
            .line_first {
                position: absolute;
                top: -110px;
                left: -240px;
                z-index: -1;
            }
            .line_second {
                position: absolute;
                z-index: -1;
                bottom: 60px;
                left: 210px;
            }
        }
    }
}